{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"arrowParents": "avoid",
    "importOrder": [
        "<THIRD_PARTT_MODULES",
        "^@/components/(.*)$",
        "^@/layout/(.*)$",
        "^@/ui/(.*)$",
        "^@/providers/(.*)$",
        "^@/shared/(.*)$",
        "^@/assets/(.*)$",
        "^@/config/(.*)$",
        "^@/store/(.*)$",
        "^@/hooks/(.*)$",
        "^@/types/(.*)$",
        "^@/utils/(.*)$",
        "^@/api/(.*)$",
        "^../(.*)",
        "^./(.*)"
    ],
    "importOrderSeparation": true,
    "importOrderSorfSpecifiers": true
}
